<div class="row h-100">

  <!-- BEGIN TIME COLUMN -->
  <div class="col-1 mt-5 p-0 d-flex flex-column">
    <div class="column-heading-no-bg"></div>
    <% @tod_range.each do |h| %>
      <div class="hour-cell">
        <%= ScheduleService::prettify_tod_hour(h) %>
      </div>
    <% end %>
  </div>
  <!-- END TIME COLUMN -->

  <!-- BEGIN TECHNICIAN COLUMNS -->
  <% @technicians.all.each do |technician| %>

    <div class="technician-col col mt-5 p-0 d-flex flex-column">

      <!-- BEGIN COLUMN HEADING -->
      <div class="column-heading">
        <div class="badge">
          <%= technician.name.titleize %>
        </div>
      </div>
      <!-- END COLUMN HEADING -->

      <div class="position-relative d-flex flex-fill flex-column">

        <!-- BEGIN HOUR LINES -->
        <% @tod_range.each do |h| %>
          <div class="hour-cell"></div>
        <% end %>
        <!-- END HOUR LINES -->

        <!-- BEGIN ABSOLUTE POS WORK ORDERS -->
        <% technician.work_orders.each do |work_order| %>
          <div
            class="work-order-cell shadow p-3"
            style="top:<%= work_order.css_top(@tod_range.first) %>px;
                   height:<%= work_order.css_height %>px"
          >
            <p>
              <%= work_order.location.name  %>,
              <%= work_order.location.city  %>
              @ <%= work_order.pretty_tod  %>
              <%= work_order.duration  %>
            </p>
            <p>
              Price: <%= work_order.pretty_price %>
            </p>
          </div>
        <% end %>
        <!-- END ABSOLUTE POS WORK ORDERS -->

        <!-- BEGIN ABSOLUTE POS FREE TIMES -->
        <% ScheduleService::free_times(technician.work_orders, @tod_range.first).each do |free_time| %>
          <div class="free-time-cell"
               style="<%= free_time[:css] %>">
          </div>
        <% end %>
        <!-- END ABSOLUTE FREE TIMES -->
      </div>
    </div>
  <% end %>
  <!-- END TECHNICIAN COLUMNS -->
</div>

<!-- BEGIN MODAL -->
<div id="free-time-modal" class="modal">
  <div class="modal-content">
    <div class="modal-close-container">
      <span class="close">&times;</span>
    </div>
    <div class="modal-text-container">
      <p>Some text in the Modal..</p>
    </div>
  </div>
</div>
<!-- END MODAL -->
