
<%= render :partial => "partials/modal"  %>

<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-11 pl-0 ">
    <h5 class="font-weight-light">
      Work Day: <%= @work_day_start_pretty %> - <%= @work_day_end_pretty %>
    </h5>
    <hr>
  </div>
</div>

<div class="row h-100">

  <!-- BEGIN TIME COLUMN -->
  <div class="col-1 p-0 d-flex flex-column">
    <div class="column-heading-no-bg"></div>
    <% @tod_range_pretty.each do |h| %>
      <div class="hour-cell font-weight-light">
        <p class="ml-3">
          <%= h %>
        </p>
      </div>
    <% end %>
  </div>
  <!-- END TIME COLUMN -->

  <!-- BEGIN TECHNICIAN COLUMNS -->
  <% @valid_orders_by_tech.each do |technician, valid_orders| %>

    <div class="technician-col col p-0 d-flex flex-column">

      <% invalid_orders = @invalid_orders_by_tech_id[technician.id] %>

      <!-- BEGIN COLUMN HEADING -->
      <div class="column-heading shadow ">
        <h6 class="font-weight-bold">
          <%= technician.name.titleize %>
        </h6>
        <% if invalid_orders.present? %>
          <small class="schedule-conflict-text font-weight-bold">
            <%= invalid_orders.length %> Schedule Conflict Hidden From View
          </small>
        <% end %>
      </div>
      <!-- END COLUMN HEADING -->

      <div class="position-relative d-flex flex-fill flex-column">

        <!-- BEGIN HOUR LINES -->
        <% @tod_range_pretty.each do |_| %>
          <div class="hour-cell"></div>
        <% end %>
        <!-- END HOUR LINES -->

        <!-- BEGIN ABSOLUTE POS WORK ORDERS -->
        <% css_array = @valid_orders_css.select { |css| css[:technician_id] == technician.id } %>
        <% [valid_orders, css_array].transpose.each do | work_order, css | %>

          <div
            class="work-order-cell shadow p-2"
            style="top:<%= css[:top] %>px; height:<%= css[:height] %>px"
          >
            <p class="font-weight-bold">
              <%= work_order.location.pretty %>
            </p>
            <p class="font-weight-light">
              <%= work_order.pretty_tod %> | <%= work_order.pretty_price %>
            </p>
          </div>
        <% end %>
        <!-- END ABSOLUTE POS WORK ORDERS -->

        <!-- BEGIN ABSOLUTE POS FREE TIMES -->
        <% @free_time_by_tech[technician.id][0..-1].each do |data| %>
          <div class="free-time-cell"
               data-display-text="<%= data[:duration] %>"
               style="top:<%= data[:top] %>px; height:<%= data[:height] %>px"
          ></div>
        <% end %>

        <% #in last case we use bottom: 0 instead of height: h %>
        <% data = @free_time_by_tech[technician.id].last %>
        <div class="free-time-cell"
             data-display-text="<%= data[:duration] %>"
             style="top:<%= data[:top] %>px; bottom: 0px"
        ></div>
        <!-- END ABSOLUTE FREE TIMES -->
      </div>
    </div>
  <% end %>
  <!-- END TECHNICIAN COLUMNS -->
</div>